{% extends 'base.html.twig' %}

{% block title %}UnfakeNews{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenue sur UnfakeNews !</h1>

    <a href="{{ path('article') }}">Voir les articles du jour</a>
    <a href="{{ path('article_new') }}">Ajouter un article</a>

</div>

{% endblock %}
